button#myBtn {
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 7px;
    margin-left: 100px;
}
input#halfstarsInput {
    width: 306px;
    height: 30px;
    border-radius: 4px;
}
input#halfstarsInputname {
    width: 200px;
    height: 30px;
    border-radius: 4px;
}
input#feed-back {
	 width: 200px;
    height: 30px;
    border-radius: 4px;
}
h2.detail {
   
    font-size: 19px;
    text-decoration: underline;
}
td#halfstarsReview {
    height: 34px;
}